@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/lime.css';

Button.-primary {
  font-size: 20;
}
.home-panel {
  vertical-align: center;
  font-size: 12;
  margin: 15;
}

.description-label {
  margin-bottom: 15;
}
